header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.brand-title {
    margin: 0.5rem;
    height: 3rem;
    filter: saturate(0.0) brightness(600%);
}

#nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-light);
}

#nav-links-list {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav-links-list>li {
    list-style: none;
}

#nav-links-list>li>a {
    display: block;
    text-decoration: none;
    color: var(--color-light);
    padding: 1rem;
    background-color: var(--color-dark);
    border-radius: 0;
}

#nav-links-list>li>a:hover {
    transform: scale(1.1);
    transition: all 0.25s;
    background-color: var(--color-blue);
    border-radius: 0.15rem;
}

#nav-hamburger-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.4rem;

    background-color: var(--color-dark);
}

#nav-hamburger-button:hover {
    transform: scale(1.25);
    transition: all 0.1s;
}

#nav-hamburger-button .bar {
    height: 14%;
    width: 100%;
    background-color: var(--color-light);
    border-radius: 0.1rem;
}

/* 
====================================
RESPOSNSIVE MOBILE
====================================
*/

@media only screen and (max-width: 650px) {
    .brand-title {
        height: 2rem;
    }

    #nav-hamburger-button {
        visibility: visible;
    }

    #nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-links-list {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    #nav-links-list.active {
        display: flex;
    }

    #nav-links-list>li {
        text-align: center;
    }

    #nav-links-list>li>a {
        padding: 0.5rem 1rem;
    }
}